{{template "base.html" . -}}

{{define "metas" }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{end}}

{{define "styles"}}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css">
{{end}}

{{define "scripts"}}
    <!-- Latest compiled and minified JavaScript -->
    <script src="static/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
{{end}}

{{define "title"}}
    Simple Bookstore App
{{end}}

{{define "content"}}
    <p>
    <h3>Hello! This is a simple bookstore application consisting of three services as shown below</h3>
    </p>
{{end}}